Datasets
ChromaDB
Day-wise/Day-22/drugsComTest_raw.tsv
Day-wise/Day-22/drugsComTrain_raw.tsv
Concept-Wise/Gen-AI/venv
Concept-Wise/Gen-AI/.env
Concept-Wise/Gen-AI/Prompts/.env 
Concept-Wise/Gen-AI/Prompts/Education_template.json 
Concept-Wise/Gen-AI/DocumentLoaders/.env
Concept-Wise/Gen-AI/DocumentLoaders/Rohit.txt
.gitignore
Concept-Wise/Gen-AI/DocumentLoaders/Docs/resume.pdf
Concept-Wise/Retrieval-Augmented-Generation/.env
Concept-Wise/Gen-AI/Retrieval-Augmented-Generation/.env
Concept-Wise/Gen-AI/Paper-Checker/.env
Concept-Wise/Gen-AI/Paper-Checker/Test_doc.pdf
.gitignore
Concept-Wise/Gen-AI/Paper-Checker/Retrived_text/output.txt
Concept-Wise/Gen-AI/Paper-Checker/__pycache__/Ocr_processor.cpython-312.pyc
Concept-Wise/Gen-AI/Agents/.env
Concept-Wise/Gen-AI/Streaming/img.jpg
Concept-Wise/Gen-AI/LangGraph/.env
Concept-Wise/Gen-AI/LangGraph/chatbot/__pycache__/backend.cpython-312.pyc
